{% extends 'base.html' %}

{% block content %}
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var pollTimer = setInterval(function(){
                $.ajax({
                    url: "http://localhost:8001/status/{{ task_id }}",
                    dataType: "json"
                }).done(function(response) {
                    if (response.complete) {
                        // Got it!

                        // Cancel the polling loop
                        clearInterval(pollTimer);

                        // Fill in our turtle descriptions
                        $.each(response.data, function(turtleIdx, turtleDesc) {
                            $('.turtle-detail').eq(turtleIdx).html(turtleDesc);
                        })
                    }
                });
            }, 500);
        });
    </script>

    <h1>Turtles</h1>

    <table class="pet-table">
        <tr>
            <td>
                <img src="/static/images/turtle1.jpg">
                <div>
                    Xander
                </div>
                <div class="turtle-detail">
                    <img src="/static/images/turtle.ico" class="loading-icon"> Loading...
                </div>
            </td>
            <td>
                <img src="/static/images/turtle2.jpg">
                <div>
                    Rigo
                </div>
                <div class="turtle-detail">
                    <img src="/static/images/turtle.ico" class="loading-icon"> Loading...
                </div>

            </td>
            <td>
                <img src="/static/images/turtle3.jpg">
                <div>
                    Margie
                </div>
                <div class="turtle-detail">
                    <img src="/static/images/turtle.ico" class="loading-icon"> Loading...
                </div>
            </td>
        </tr>
    </table>
{% endblock %}